html{
    margin: none;
    padding: none;
}

/* -----HEADER----- */

header{
    z-index: 5;

    position: fixed;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 0.5rem;
    width: 100vw;
    height: 5rem;
    background-color: #9b8974;

    font-family: "Advent Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    box-shadow: 0px 3px 5px rgb(120, 120, 120);
}


header .main-logo{
    grid-column: span 2;
    justify-self: center;
}

header button{
    font-family: "Advent Pro", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.25rem;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: #FFF
}

.main-logo > a > img{
    height: 3rem;
    margin-right: 3rem;
    align-self: center;
}

.nav-left{
    grid-column-start: 3;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
}
.nav-right{
    /* grid-column: span2; */
    grid-column-end: -1;
}

.nav button{
    background: none;
    border: none;
}

/* -----BODY----- */
body{
    background-color: linear-gradient(180deg, #FFF 0%, #FEFEFE 0.01%, #EFE7CD 74.82%, #CCBE94 83.35%, #9B8974 90.43%);
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: none;
    height:100%;

    overflow-x: hidden;    
}

.content{
    flex: 1;
}

.hero-section{
    width: 100vw;
    height: calc(100vw * 696/1417);
    left: 0;
    /* position: absolute; */
    top:0%;
    z-index: -1;

    color: #FFF;

    font-family: "Inria Serif";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    box-shadow: 0px 5px 5px #9c9c9c;
}
.hero-section > img{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}
.hero-section > #quote{
    position: relative;
    top: 20%;
    z-index: 1;
    margin: 30px;
    line-height: 0%;
}
p#the-world{
    font-size: 5rem;
}

button.order-now{
    position: relative;
    top: 20%;
    left: 5%;
    z-index: 1;

    color: rgb(255, 255, 255, 0.67);

    font-family: "Inria Serif";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    height: 100px;
    width: 200px;
    border-radius: 50px;
    background-color: rgba(167, 98, 29, 0.67);
    border: none;
    
    cursor:pointer;
    transition: box-shadow 0.3s ease-in-out;
    /* transition: color 3s ease-in-out; */
    
}
button.order-now:hover{
    box-shadow: 0px 5px 5px rgba(37, 37, 37, 0.858) !important;
    transition: background-color 3s ease-in-out;
    background-color: rgb(167, 98, 29, 0.8);
    /* color: rgb(255, 255, 255, 0.8); */
}

.best-sellers{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
}

.best-sellers-card{
    top: 100px;

    position: relative;
    /* background-color: red; */
    height: 400px;
    width: 300px;
}

#card-item{
    position: absolute;
    background-color:white;
    height: 35%;
    width: 50%;

    top: -15%;
    left: 25%;

    box-shadow: 0px 5px 5px #484545, 0px -2px 6px #acaaaa;
    border-radius: 2rem;
    z-index: 1;
}

#card-body{
    position: relative;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 5px 5px #484545;
    background-color:  #D9D9D9;
    height:60%;
    padding-top : 5rem;
}

.card-text{
    font-family: "Inria Serif", serif;
    font-weight: 500;
    font-style: normal;

    color: #866a49;
    text-align: center;
}

h2.card-text{
    font-weight: 700;
}
h2.best-sellers-heading{
    text-align: left;
    font-weight: 600;
    font-size: 2.5rem;
    margin: 5% 0 0 5%;
}

div.best-sellers-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button.best-sellers-button{
    position: relative;
    /* top: 20%; */
    /* left: 30%; */
    z-index: 1;

    color: rgb(255, 255, 255, 0.67);

    font-family: "Inria Serif";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    height: 50px;
    width: 100px;
    border-radius: 25px;
    background-color: rgba(167, 98, 29, 0.67);
    border: none;
    
    cursor:pointer;
    transition: box-shadow 0.3s ease-in-out;
    
    /* transition: color 3s ease-in-out; */
    
}
button.best-sellers-button:hover{
    box-shadow: 0 3px 5px rgba(37, 37, 37, 0.858) !important;
    transition: background-color 3s ease-in-out;
    background-color: rgb(167, 98, 29, 0.8);
    /* color: rgb(255, 255, 255, 0.8); */
}


/* -----FOOTER----- */

footer{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 20px;
    /* display: none; */
    background-color: #09343B;
    margin: 0px;
    padding: 50px;
    /* width: 100%; */
    height: 250px;

    color: #D8EAD2;
}

footer{
    font-family: "Advent Pro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
} 
.footer-headings{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: normal;
} 

footer a.small-links{
    text-decoration: none;
    color: #D8EAD2;
    display: block;
    max-width: fit-content;
    line-height: 50px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
footer a.small-links:hover{
    opacity: 50%;
}

footer .main-logo img{
    height: 5rem;
}

footer > #social-media > .footer-svg{
    height: 1rem;
    display: inline-block;
}

footer > #social-media > .footer-svg > svg{
    height: 1rem;
    width: 1rem;
    fill:#D8EAD2;
    padding-right: 0.5rem;
}